.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: black;
  background-color: #f5f8fa;
}

.App-section-text {
  font-size: 26px;
  text-decoration: none;
  font-family: fantasy;
  margin: 20px;
}

.App-logo {
  height: 80px;
  color: white;
}

.App-section {
  flex: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
